
/**
 * Reset & Basics
 */

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--white);
}

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;

  @apply --fs1;
}

main {
  position: relative;
  background-color: var(--white);
}

/* Remove outline from elements that were outlined by bootstrap */
a:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.Block--secondary {
  background-color: var(--secondary-highlight);
}

.container {
  position: relative;
}

.container-fluid {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.container-border:after {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 100vw;
  height: 1px;

  transform: translateX(-50%);

  border-bottom: 1px solid var(--secondary-superlight);
}

.col,
*[class^="col-"] {
  margin-top: 6.5625rem;
  margin-bottom: 6.5625rem;
}

.col-collapse-top {
  margin-top: 0;
}

.col-collapse-bottom {
  margin-bottom: 0;
}
