/**
 * Button styles
 */

.Button,
.Button:focus {
  padding: .875rem 1.25rem;

  text-decoration: none;
  text-transform: uppercase;

  color: var(--color-text-light);
  border: 0.125rem solid var(--primary-dark);
  background-color: var(--primary-dark);

  font-family: var(--font-hl);
  @apply --fs-button;
  @apply --animate;
}

.Button {
  display: block;
  float: left;
  clear: left;

}

.Button + .Button {
  margin-top: 1.625rem;
}

@media (min-width: 481px) {
  .Button {
    display: inline-block;
    float: none;
    clear: none;
  }

  .Button + .Button {
    margin-top: 0;
    margin-left: 1.625rem;
  }
}

.Button:hover,
.Button:active {
  text-decoration: none;

  color: var(--color-text-light);
  border-color: var(--primary-light);
  background-color: var(--primary-light);
}

.Button--White,
.Button--White:focus {
  border: 0.125rem solid var(--white);
  background-color: transparent;
}

.Button--White:hover,
.Button--White:active {
  color: var(--color-text-dark);
  border-color: var(--white);
  background-color: var(--white);
}
