/**
 * Button styles
 */

.Button {
  @apply --fs-button;

  font-family: var(--font-hl);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-red);
  display: inline-block;
  padding: 16px 20px;
}

.Button:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
}
