
/**
 * Headlines
 */

.Headline {
  position: relative;

  margin: 0 0 4.125rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--dark-gray);

  font-family: var(--font-hl);
  @apply --fs-hl;
}

.Headline--Left {
  text-align: left;
}

.Headline--Right {
  text-align: right;
}

.Headline--Small {
  margin-bottom: 2.5rem;
  @apply --fs-hl-small;
}

.Headline--Progress {
  margin-bottom: 1.5625rem;
  @apply --fs-hl-small;
}

/**
 * Headline with image (left) will have:
 * margin-bottom: 3.375rem;
 */

.Headline--Underline:after {
  position: absolute;
  top: 0;
  bottom: -2.375rem;
  left: 50%;

  width: 5.1875rem;

  content: " ";
  transform: translateX(-50%);

  border-bottom: 0.125rem solid var(--dark-red);
}

.Headline--Left.Headline--Underline:after {
  left: 0;

  transform: none;
}

.Headline--Right.Headline--Underline:after {
  right: 0;
  left: auto;

  transform: none;
}

.Headline--Small.Headline--Underline:after {
  bottom: -1.5rem;

  width: 1.875rem;
}

.Headline--Icon {
  position: relative;

  text-align: left;
}

.Headline--Icon:before {
  position: absolute;
  top: -3.875rem;
  right: 0;
  left: 0;

  height: 2.25rem;

  content: " ";

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.Headline--Icon-Circle {
  padding-left: 5.75rem;
}

.Headline--Icon-Circle:before {
  top: -2rem;
  width: 4.375rem;
  height: 4.375rem;
  background-color: var(--dark-red);
  background-position: center !important;
  background-size: 2rem;
  border: 5px solid var(--light-red);
  border-radius: 50%;
}

.Headline--Icon.Headline--Icon-Lightbulb:before {
  background-image: url(/assets/img/lightbulb.svg);
  background-position: -.375rem 0;
}

.Headline--Icon.Headline--Icon-Lightbulb-White:before {
  background-image: url(/assets/img/lightbulb-white.svg);
  background-position: -.375rem 0;
}

.Headline--Icon.Headline--Icon-Monitor:before {
  background-image: url(/assets/img/monitor.svg);
}

.Headline--Icon.Headline--Icon-Monitor-White:before {
  background-image: url(/assets/img/monitor-white.svg);
}

.Headline--Icon.Headline--Icon-Camera:before {
  background-image: url(/assets/img/camera.svg);
}

.Headline--Icon.Headline--Icon-Camera-White:before {
  background-image: url(/assets/img/camera-white.svg);
}

.Headline--Icon.Headline--Icon-Flame:before {
  background-image: url(/assets/img/flame.svg);
}

.Headline--Icon.Headline--Icon-Flame-White:before {
  background-image: url(/assets/img/flame-white.svg);
}

.Headline--Icon.Headline--Icon-Heart:before {
  background-image: url(/assets/img/heart.svg);
}

.Headline--Icon.Headline--Icon-Heart-White:before {
  background-image: url(/assets/img/heart-white.svg);
}
