
/**
 * Headlines
 */

.Headline {
  position: relative;

  margin: 0 0 4.0625rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--dark-gray);

  font-family: var(--font-hl);
  @apply --fs-hl;
}

.Headline--Left {
  text-align: left;
}

.Headline--Right {
  text-align: right;
}

.Headline--Underline:after {
  position: absolute;
  top: 0;
  bottom: -2.25rem;
  left: 50%;

  width: 5.1875rem;

  content: " ";
  transform: translateX(-50%);

  border-bottom: 0.125rem solid var(--dark-red);
}
.Headline--Left.Headline--Underline:after {
  left: 0;

  transform: none;
}
.Headline--Right.Headline--Underline:after {
  right: 0;
  left: auto;

  transform: none;
}
