
/**
 * Image
 */

.Image {

}

.Image__Link {
  position: relative;

  display: block;
}

.Image__Link:after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 80px;
  height: 80px;

  content: "+";
  transform: translateX(-50%) translateY(-50%);
  text-align: center;

  color: var(--black);
  border-radius: 50%;
  background-color: var(--white);

  font-family: var(--font-copy);
  font-size: 3rem;
  font-weight: 100;
  line-height: 5rem;

  @apply --animate;
}

.Image__Link:hover:after {
  color: var(--white);
  background-color: var(--dark-red);
}
