/**
 * Progress bar style overrides
 */

.progress {
  margin-bottom: 2.875rem;
  height: 9px;
  border-radius: 0;
  background-color: var(--superlight-gray);
  background-image: none;
  box-shadow: none;
}

.progress-bar {
  background-color: var(--dark-red);
  background-image: none;
  box-shadow: none;
}
