
/**
 * Progress bar style overrides
 */

.progress {
  height: 9px;
  margin-bottom: 2.875rem;

  border-radius: 0;
  background-color: var(--secondary-superlight);
  background-image: none;
  box-shadow: none;
}

.progress-bar {
  background-color: var(--primary-dark);
  background-image: none;
  box-shadow: none;
}
