/**
 * Teasers
 */

.ImageTeaser {
  position: relative;

  background-color: var(--secondary-dark);
  background-position: 50%;
  background-size: cover;
}

.ImageTeaser__Overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--black-trans-50);
}

.ImageTeaser .Headline {
  color: var(--color-headline-light);
}

.ImageTeaser .Text {
  color: var(--color-text-light);
}
