/**
 * Text formatting
 */

.Text {
  margin: 32px 0;

  text-align: center;

  color: var(--dark-gray);

  font-family: var(--font-copy);
  @apply --fs-text;
}

.Text--Left {
  text-align: left;
}

.Text--Right {
  text-align: right;
}
