
/**
 * Custom Properties
 */

:root {

  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #333333;
  --gray: #767676;
  --light-gray: #bababa;
  --dark-red: #ff6863;
  --red: #fc9996;
  --light-red: #f8cac9;

  /* Fonts */
  --font-hl: "Montserrat", Arial, sans-serif;
  --font-copy: "Raleway", Arial, sans-serif;

  /* Font sizes */
}
